:root {
  font-family: 'Space Grotesk', sans-serif;
}

.max-w-prose,
.prose {
  max-width: 100% !important;
}

figure {
  max-width: 40rem;
}

a[href*="/tags/"] {
  border: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0.5rem;
}

span.icon {
  vertical-align: middle;
}
