<div id="page">
  <article class="prose max-w-full dark:prose-invert">
    <section>{{ .Content | emojify }}</section>
  </article>

  <section >
    <h2 class="text-2xl font-extrabold" style="margin-top: 4rem">Recent posts</h2>

    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ $posts := where $posts "Params.draft" "ne" true }}
    {{ range $posts | first 5 }}
      {{ partial "article-link.html" . }}
    {{ end }}
  </section >


  <section >
    <h2 class="text-2xl font-extrabold" style="margin-top: 4rem">Recent events</h2>

    {{ range where .Site.RegularPages "Section" "events" | first 5 }}
      {{ partial "article-link.html" . }}
    {{ end}}
  </section >
</div>

